<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcom.community.dao.BreederMapper">

    <sql id="selectFields">
        id, title, score, type, description, create_time, address, city, state, contact, website, status
    </sql>

    <sql id="insertFields">
        id, title, score, type, description, create_time, address, city, state, contact, website, status
    </sql>

    <select id="selectBreederList" resultType="Breeder">
        select <include refid="selectFields"></include>
        from breeder
        <if test="id!=0">
            and id = #{id}
        </if>
        order by create_time desc , score desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectBreederRows" resultType="int">
        select count(id)
        from breeder
        <if test="id!=0">
            and id = #{id}
        </if>
    </select>

    <select id="findFeatureBreeder" resultType="Breeder">
        select <include refid="selectFields"></include>
        from breeder
        where status = 1
        order by create_time desc
    </select>

    <select id="findBreederById" resultType="Breeder">
        select <include refid="selectFields"></include>
        from breeder
        where id = #{id}
    </select>

    <update id="AddScoreForBreeder">
        update breeder
        set score = score + 1
        where id = #{id}
    </update>


    <insert id="insertBreeder" parameterType="Breeder">
        insert into breeder(<include refid="insertFields"></include>)
        values(#{id},#{title},#{score},#{type},#{description},#{createTime},#{address},#{city},#{state},#{contact},#{website},2)
    </insert>

    <select id="searchBreeder" resultType="Breeder">
        select <include refid="selectFields"></include>
        from breeder
        where title like "%"#{searchKey}"%" or description like "%"#{searchKey}"%"
    </select>

    <select id="getBreederName" resultType="String">
        select title
        from breeder
    </select>

</mapper>